.header {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  font-size: size(small);
  font-weight: 300;
  position: fixed;

  @include breakpoint(md) {
    background: #00557A;
  }

  &.skin {
    background: #00557A;
    .header_links-item {
      a {
        color: white;
      }
    }
  }
    &_progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: white;

        &-line {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: color(primary, base)
        }

        @include breakpoint(md) {
          height: 5px
        }
    }

    &_content {
      display: flex;
      height: 100px;
      align-items: center;
      padding: 0 $gutter/2;

      @include breakpoint(md) {
        padding: 0;
        height: 70px;

          .btn {
            max-width: 120px;
            margin: 0 auto 20px;
            text-align: center;
          }
      }
    }

    &_menu {
      float: right;
      display: flex;
      flex-grow: 1;
      align-items: center;

      @include breakpoint(md) {
        width: 100%;
        max-width: inherit;
        position: absolute;
        top: 68px;
        display: none;
        flex-wrap: wrap;
        flex-basis: 100%;
        background: #00557A;
        padding:15px 0 0;

          > * {flex-basis: 100%}
      }


      &.--active {
        display: flex;
      }

      &.--search-active {
        //max-width: 600px;
      }
    }

    &_logo {
      float: left;
      flex-grow: 1;
      text-align: center;

       img {
         width: 100px;
         @include breakpoint(md) {
           width: 60px;
         }
       }

       @include breakpoint(md) {
         flex-basis: 50%;
         padding-left: $gutter/2;
         text-align: left;
       }
    }


    &_toggle {
      display: none;

      @include breakpoint(md) {
        cursor: pointer;
        display: block;
        max-width: 70px;
        height: 70px;
        flex-basis: 50%;
        padding-right: $gutter/2;
        background: url('../images/menu-toggle.svg') center no-repeat;
        background-size: 30px 30px;
        line-height: 60px;
        text-align: right;
        color: white
      }

      &.--active {
        background-image: url('../images/menu-toggle--closed.svg')
      }
    }

    a {color: color(primary, base);}
    a:hover {opacity: .6}
}

/* ---------------------
  MENU
---------------------- */

.header_links {

    &-list {
      display: flex;
      align-items: center;

      @include breakpoint(md) {
        flex-wrap: wrap;
        margin: 0 0 20px
      }
    }

    &-item {
      padding: 0 15px;
      letter-spacing: 1px;

      @include breakpoint(md) {
        flex-basis: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
      }

      a {
        color: color(primary, base);
        font-weight: bold;
        @include breakpoint(md) {
          color: color(primary, lighten);
        }
      }

    }

    a {
      color: color(primary, base);
      font-weight: bold;
      @include breakpoint(md) {
        color: color(primary, lighten);
      }
    }

}

/* ---------------------
  SOCIAL
---------------------- */

.social-links {
  display: flex;
  align-items: center;

    @include breakpoint(md) {
      flex-basis: 50% !important;
      padding: 30px;
    }

    &_item {
      padding: 0 20px
    }
}
