.services {
  padding: 100px 0;
  text-align: center;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/pexels-photo-373543.jpg');
  background-repeat: no-repeat;

  @include breakpoint(md) {
    background-repeat: repeat;
  }
  &_title {
    text-transform: uppercase;
  }

  &_list {
    display: flex;
    flex-flow: row wrap;
  }
  &_card {
    flex: 1;
    margin: 40px 15px;
    cursor: pointer;
    box-shadow: 0 10px 12px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    z-index: 10;
    min-width: 300px;
    height: 400px;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &.--flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }
    &-front,
    &-back {
      display: flex;
      height: 100%;
      width: 100%;
      line-height: 60px;
      color: white;
      text-align: center;
      font-size: 4em;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      align-items: center;
      border-radius: 10px;
    }
    &-front {
      flex-flow: column;
      justify-content: center;
      background-color: white;
      padding: 0 15px;
      h2 {
        font-size: 29px;
        line-height: 1.1;
        margin-top: 10px;
        text-transform: uppercase;
        color: white;
      }
      p {
        font-size: 24px;
        color: white;
        line-height: 1.1;
        margin-top: 10px;
      }
      i {
        color: white;
        margin-bottom: 10px;
      }
      span {
        text-decoration: underline;
        color: white;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        right: 15px;
      }
      img {
        width: 75px;
      }
      .jump {
        font-size: 24px;
        position: absolute;
        bottom: 0;
        right: 15px;
        -webkit-animation: jump 1.5s ease 0s infinite normal;
        animation: jump 1.5s ease 0s infinite normal;
      }
      @-webkit-keyframes jump {
        0%{
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        20%{
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40%{
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        50%{
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        60%{
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
        }
        80%{
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        100%{
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      @keyframes jump {
        0%{
          transform: translateY(0);
        }
        20%{
          transform: translateY(0);
        }
        40%{
          transform: translateY(-30px);
        }
        50%{
          transform: translateY(0);
        }
        60%{
          transform: translateY(-15px);
        }
        80%{
          transform: translateY(0);
        }
        100%{
          transform: translateY(0);
        }
      }
      &.site {
        background: #2aa9e0;
      }
      &.social{
        background: #f39c12;
      }
      &.marketing {
        background: #27ae60;
      }
      &.channels {
        background: #AD103C;
      }
      &.advisory {
        background: #814fbd;
      }
      &.sales {
        background: #ef03fc;
      }
    }
    &-back {
      background-color: #03446A;
      width: 100%;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
      font-size: 20px;
      line-height: 1.2;
      padding: 10px 30px;
      text-align: left;
      justify-content: center;
      span {
        font-weight: bold;
      }
      &.site {
        background: #2aa9e0;
      }
      &.social{
        background: #f39c12;
      }
      &.marketing {
        background: #27ae60;
      }
      &.channels {
        background: #AD103C;
      }
      &.advisory {
        background: #814fbd;
      }
      &.sales {
        background: #ef03fc;
      }
    }
  }
}