.contact {
  padding: 100px 0;
  text-align: center;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/contact_bg.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &_title {
    text-transform: uppercase;
  }
  .container_contact {
    max-width: 800px;
    form {
      p {
        label {
          color: white;
          input {
            background: transparent;
            border: 1px solid white;
            color: white;
            @include placeholder {
              color: #fff;
            }
          }
          textarea {
            background: transparent;
            border: 1px solid white;
            color: white;
          }
          div.wpcf7-mail-sent-ok {
            border: none!important;
            color: white!important;
          }
        }
      }
    }
  }
}