.contact {
  padding: 100px 0;
  text-align: center;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/calling-cellphone-communication.jpg') no-repeat;

  &_title {
    text-transform: uppercase;
  }
  form {
    p {
      label {
        color: white;
        input {
          background: transparent;
          border: 1px solid white;
          color: white;
          @include placeholder {
            color: #fff;
          }
        }
        textarea {
          background: transparent;
          border: 1px solid white;
          color: white;
        }
        .wpcf7-mail-sent-ok {
          border: none!important;
          color: white!important;
        }
      }
    }
  }
}