.post-card {
  position: relative;
  max-width: 350px;
  border-radius: 20px;
  background: color(primary, lighter);
  box-shadow: 0.8px 1.3px 20px 0 rgba(0, 0, 0, 0.15);

    &:hover &_thumb span {

      transform: scale(1.1)
    }

    &_thumb {
      overflow: hidden;
      position: relative;
      height: 180px;
      @include border-radius(20px, 20px, 0, 0);

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include border-radius(20px, 20px, 0, 0);
        background-size: cover;
        background-position: center;
        @include transition(300ms, ease);
      }
    }

    &_flag {
      position: absolute;
      display: block;
      margin-top: -50px;
      right: 20px;
      width: 60px;
      height: 60px;
      border: 3px solid white;
      border-radius: 50%;
      background-size: cover;
      box-shadow: 2px 2px 10px 0px rgba(44,97,158,0.3);
    }

    &_pill {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px 25px;
      border-radius: 18px;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      text-transform: uppercase;
      font-size: size(small)
    }

    &_content {
      padding: 20px
    }

    &_title {
      color: color(colored, blue);
      font-size: size(big);
      line-height: size(big)
    }

    &_date,
    &_time {
      display: inline-block;
      padding: 5px 0;
      font-size: size(small);
      color: color(neutral, dark)
    }

    &_date {
      margin: 0 0 10px;
      border-bottom: 1px solid color(neutral, dark)
    }

    &_time {
      display: block
    }

    .btn {
      display: block;
      max-width: 120px;
      margin: 10px auto 10px;
      text-align: center;
    }
}
