@font-face {
    font-family: 'Fh_Faith';
    src: url('../fonts/Fh_Faith.eot');
    src: url('../fonts/Fh_Faith.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fh_Faith.woff2') format('woff2'),
        url('../fonts/Fh_Faith.woff') format('woff'),
        url('../fonts/Fh_Faith.ttf') format('truetype'),
        url('../fonts/Fh_Faith.svg#Fh_Faith') format('svg');
    font-weight: normal;
    font-style: normal;
}
