body {
  font-family: $primary-font;
  font-size:16px;
  line-height:1.6em;
  color:color(neutral, darkest);
  background: #fff;
  overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:color(primary, base);
  font-weight: bold;
}

a {
  color:color(primary, base);
  @include transition(300ms, ease);
}
